[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-django = "*"
django-environ = "*"
django-simple-history = "*"
django-extensions = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
django-heroku = "*"
whitenoise = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.9"
