{% extends 'base.html' %}

{% block content %}
  <h1>Login</h1>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" id="submit">Login</button>
  </form>

    <td><a class="btn btn-dark" href="/users/create/" role="button">Sign Up</a></td>
  {# Assumes you setup the password_reset view in your URLconf #}
  {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}