{% extends 'base.html' %}
{% block content %}

<h1>Day {{ now }} </h1>

<table class="table">
    <tr>
      <th>Family name</th>
      <th>Members</th>

      <th><a class="btn btn-dark" href="/families/create/" role="button">Create</a></th>
    </tr>

    {% for family in object_list %}
    <tr>
      <td>{{ family.name }}</td>
      <td>{{ family.members }}</td>

      <td><a class="btn btn-dark" href="/families/{{ family.id }}/retrieve/" role="button">Detail</a></td>
      <td><a class="btn btn-dark" href="/families/{{ family.id }}" role="button">Update</a></td>
      <td><a class="btn btn-dark" href="/families/{{ family.id }}/delete/" role="button">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}