{% extends 'task_list/base.html' %}
{% block content %}

<h1>Task detail</h1>

<form>
  <div>
    <div>Name: {{task.name}}</div>
    <div>Description: {{task.description}}</div>
    <div>Status: {{task.status}}</div>
    <div>Owner: {{task.owner}}</div>
    <div>Rating: {{task.rating}}</div>
    <div>Comments: {{task.comments}}</div>
    <div>Task date: {{task.task_date_time}}</div>
    <div>Is concluded?: {{task.is_concluded}}</div>
    <div>Conclusion date: {{task.conclusion_date}}</div>
  </div>
</form>

<td><a class="btn btn-dark" href="/tasks/{{ task.id }}" role="button">Update</a></td>
<td><a class="btn btn-dark" href="/tasks/{{ task.id }}/delete/" role="button">Delete</a></td>
<br></br>
<a class="btn btn-dark" href="/" role="button">Back</a>

{% endblock %}
