<h1>Tarefas do dia {{ now }} </h1>

<table>
    <tr>
      <th>Done</th>
      <th>Description</th>
      <th>User</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
    {% for task in object_list %}
    <tr>
      <td><input type="checkbox"></td>
      <td>{{ task.name }}</td>
      <td>{{ task.owner }}</td>
      <td>{{ task.rating }}</td>
      <td>{{ task.date | date }}</td>
      
      <td><button><a href="/tasks/{{ task.id }}">Detail</a></button></td>
    </tr>
    {% endfor %}
</table>

<button>+ Add new task</button>



