{% extends 'task_list/base.html' %}
{% block content %}

<h1>Day {{ now }} </h1>

<table class="table">
    <tr>
      <th>Done</th>
      <th>Description</th>
      <th>User</th>
      <th>Rating</th>
      <th>Task Date</th>
      <th><a class="btn btn-dark" href="/tasks/" role="button">Create</a></th>
    </tr>
    {% for task in object_list %}
    <tr>
      <td><input type="checkbox" id="{{ todo.is_concluded }}" name="is_concluded" {%if task.is_concluded%}checked{% endif %}></td>
      <td>{{ task.name }}</td>
      <td>{{ task.owner }}</td>
      <td>{{ task.rating }}</td>
      <td>{{ task.task_date_time | date }}</td>
       <td><a class="btn btn-dark" href="/tasks/{{ task.id }}/detail/" role="button">Detail</a></td>
      <td><a class="btn btn-dark" href="/tasks/{{ task.id }}" role="button">Update</a></td>
      <td><a class="btn btn-dark" href="/tasks/{{ task.id }}/delete/" role="button">Delete</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}



