{% extends 'task_list/base.html' %}
{% block content %}

<h1>Day {{ now }} </h1>

<table class="table">
    <tr>
      <th>Done</th>
      <th>Description</th>
      <th>User</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
    {% for task in object_list %}
    <tr>
      <td><input type="checkbox"></td>
      <td>{{ task.name }}</td>
      <td>{{ task.owner }}</td>
      <td>{{ task.rating }}</td>
      <td>{{ task.date | date }}</td>
      <td><a class="btn btn-dark" href="/tasks/{{ task.id }}" role="button">Update</a></td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-dark" href="/tasks/" role="button">Create</a>

{% endblock %}



