{% extends 'base.html' %}
{% block content %}

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn btn-dark" href="/tasks/" >
    </form>
    
<a class="btn btn-dark" href="/tasks/" role="button">Back</a>

{% endblock %}

{% comment %} 
  <form>
    <div class="form-group">
      <label for="formControlRange">Point(s)</label>
      <input type="range" class="form-control-range" id="rating">
    </div>
  </form> {% endcomment %}
